<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
{% include head.html %}

<body>
  <div class="container">
    {% include header.html %}

    <main aria-label="Content">
      {{ content }}
    </main>

    <div class="text-center mt-3rem op-60 fs-0-9rem">
      <div class="note-container">
        🧠 Currently refining backend architecture & deployment workflows
        <div class="note-hover">
          Focused on scalability and maintainability.
        </div>
      </div>
    </div>

    {% include footer.html %}
  </div>

  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>

</html>